.sub-head{
	background: #ebebeb;
	border-top: 2px solid #fc8f00;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
.keyword-wrap{
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 300px;
}
.keyword{
	padding-left: 8px;
}
.keyword-item{
	padding: 8px 15px;
	font-size: 12px;
	label{
		font-weight: normal;
		margin-bottom: 0;
	}
	input[type=checkbox]{
		display: none;
	}
	input[type=checkbox] + span { 
		&:before { content: "\e157"; }
	}
	input[type=checkbox]:checked + span { 
		&:before { content: "\e067"; }
	}
	p{
		margin-bottom: 0;
	}
}

.glyphicon-left-arrows{
	width: 14px;
	height: 12px;
	color: #888;
	&:before{
		content: "\e079"; 
		position: absolute;
		top: 1px;
		left: 0;
	}
	&:after{
		content: "\e079";
		position: absolute;
		top: 1px;
		left: 6px;
	}
}
.glyphicon-top-arrows{
	width: 13px;
	height: 20px;
	&:before{
		content: "\e113";
		position: absolute;
		left: 0;
		top: 0;
	}
	&:after{
		content: "\e113";
		position: absolute;
		left: 0;
		top: 6px;
	}
}
.glyphicon-bottom-arrows{
	height: 20px;
    width: 13px;
	&:before {
		content: "\e114";
		position: absolute;
		left: 0;
		top: 0;
	}
	&:after {
		content: "\e114";
		position: absolute;
		left: 0;
		top: 6px;
	}
}
.btn-topdown-arrow{
  font-size: 13px;
  color: #666;
}

.left-wing{
	position: relative;
}
.move-buttons{
	width: 80px;

	position: absolute;
	top: 120px;
	left: 100%;
}
.inactive{
	color: #999;
	margin-left: 20px;
	u,
	button{
		display: none;
	}
}